## Mounting Colab on my Google Drive

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

Changing the directory

In [2]:
%cd "code here"

/content/drive/MyDrive/Tutorials/Tutorial 1

Checking the contents of the current directory

In [3]:
!ls

 Titanic_Data.csv  'Tutorial1 Solution.ipynb'  'Tutorial1 Template.ipynb'

# Tutorial 1 The Titanic Disaster

## Project Summary
Predict which passengers survived the Titanic shipwreck.

## Importing Some Basic Libraries

In [4]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt

## Importing the Dataset

In [5]:
dataset = pd.read_csv('code here')

## Showing the Dataset in a Table

In [ ]:
"code here"

## A Quick Review of the Data

In [ ]:
"code here"

## Encoding Categorical Data

### Encoding the Input Data

**For the gender column**

In [ ]:
"code here"

For the 'embarked' column

In [ ]:
"code here"

### Encoding the Output Data (Labels)

In [18]:
from sklearn.preprocessing import LabelEncoder

"code here"

## Dropping Irrelevant Input Data

In [22]:
"code here"

## Checking the Preprocessed Dataset

In [24]:
"code here"

,Pclass,Sex,Age,Number of Siblings/Spouses Aboard,Number of Parents/Children Aboard,Fare,Embarked,Survived
0,3,0.0,22.0,1,0,7.2500,0.0,0
1,1,1.0,38.0,1,0,71.2833,1.0,1
2,3,1.0,26.0,0,0,7.9250,0.0,1
3,1,1.0,35.0,1,0,53.1000,0.0,1
4,3,0.0,35.0,0,0,8.0500,0.0,0

## Seperate the input and output

In [25]:
"code here"

## Showing the Input Data in a Table Format

In [ ]:
"code here"

## A Quick Check of the Output Data

In [27]:
"code here"

   Survived
0         0
1         1
2         1
3         1
4         0

## Taking Care of Missing Data Inputs

In [28]:
from sklearn.impute import SimpleImputer
"code here"

## Splitting the Dataset into the Training Set and Test Set

In [29]:
from sklearn.model_selection import train_test_split
"code here"

## Scaling the Features

In [30]:
# Scale the age and fare
from sklearn.preprocessing import StandardScaler
"code here"

## Training and Testing Predictive Models

In [ ]:
from sklearn.metrics import accuracy_score

In [37]:
# Support vector machine
from sklearn.svm import SVC
sv_classfier = SVC(kernel = 'rbf')
sv_classfier.fit(X_train, y_train)
Y_pred = sv_classfier.predict(X_test)
print(accuracy_score(y_test, Y_pred))

0.6536312849162011

In [38]:
from sklearn.linear_model import LogisticRegression
# Linear regression
lr = LogisticRegression()
lr.fit(X_train, y_train)
Y_pred = lr.predict(X_test)
print(accuracy_score(y_test, Y_pred))

0.7988826815642458