## Data Preprocessing

### Separate the input and output columns

In [34]:
import pandas as pd

data = pd.read_csv("area_under_curve.csv")
data.head()

,Delta_TP9,Delta_AF7,Delta_AF8,Delta_TP10,Theta_TP9,Theta_AF7,Theta_AF8,Theta_TP10,Alpha_TP9,Alpha_AF7,...,Alpha_TP10,Beta_TP9,Beta_AF7,Beta_AF8,Beta_TP10,Gamma_TP9,Gamma_AF7,Gamma_AF8,Gamma_TP10,Label
0,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,...,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773,1
1,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,...,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773,0
2,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,...,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773,1
3,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,...,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773,1
4,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,...,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773,0

In [35]:
selected_columns = [
    'Delta_TP9', 'Delta_AF7', 'Delta_AF8', 'Delta_TP10',
    'Theta_TP9', 'Theta_AF7', 'Theta_AF8', 'Theta_TP10',
    'Alpha_TP9', 'Alpha_AF7', 'Alpha_AF8', 'Alpha_TP10',
    'Beta_TP9', 'Beta_AF7', 'Beta_AF8', 'Beta_TP10',
    'Gamma_TP9', 'Gamma_AF7', 'Gamma_AF8', 'Gamma_TP10'
]

X = data.loc[:, selected_columns]
X.head()

,Delta_TP9,Delta_AF7,Delta_AF8,Delta_TP10,Theta_TP9,Theta_AF7,Theta_AF8,Theta_TP10,Alpha_TP9,Alpha_AF7,Alpha_AF8,Alpha_TP10,Beta_TP9,Beta_AF7,Beta_AF8,Beta_TP10,Gamma_TP9,Gamma_AF7,Gamma_AF8,Gamma_TP10
0,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,0.0,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773
1,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,0.0,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773
2,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,0.0,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773
3,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,0.0,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773
4,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,0.0,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773

In [36]:
# For y, we have either 0 or 1. 
# 0 = "Recall"
# 1 = "Maze"
# labels = [1, 0, 1, 0, 1]  # Replace this with actual y label data

y = data.iloc[:, -1]
y.head()

0    1
1    0
2    1
3    1
4    0
Name:  Label, dtype: int64

### Removing rows with missing data

In [37]:
# TODO: IS THIS NEEDED OR CAN I TRUST THAT THE AREA CSV FILE WILL NOT HAVE ANY NAN ENTRIES?
X_cleaned = X.dropna()
X_cleaned.head()

,Delta_TP9,Delta_AF7,Delta_AF8,Delta_TP10,Theta_TP9,Theta_AF7,Theta_AF8,Theta_TP10,Alpha_TP9,Alpha_AF7,Alpha_AF8,Alpha_TP10,Beta_TP9,Beta_AF7,Beta_AF8,Beta_TP10,Gamma_TP9,Gamma_AF7,Gamma_AF8,Gamma_TP10
0,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,0.0,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773
1,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,0.0,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773
2,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,0.0,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773
3,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,0.0,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773
4,26423.525184,14815.058457,0.0,20456.932963,28649.558922,8787.104173,0.0,15677.516232,28797.861412,10919.788087,0.0,21187.848194,21884.834479,6724.257111,0.0,15234.134521,10693.241702,569.196748,0.0,6225.098773

### Splitting the train and test data

In [38]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Feature Scaling

In [39]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit_transform(X_train)
sc.fit(X_test)

StandardScaler()

### KNN

In [53]:
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train.values, y_train.values)
y_pred = knn.predict(X_test.values)
print(accuracy_score(y_test, y_pred))

1.0

### Naive Bayes

In [55]:
from sklearn.naive_bayes import GaussianNB

nb_clf = GaussianNB()
nb_clf.fit(X_train, y_train)
y_pred = nb_clf.predict(X_test)
print(accuracy_score(y_test, y_pred))

1.0

C:\anaconda3\Lib\site-packages\sklearn\naive_bayes.py:510: RuntimeWarning: divide by zero encountered in log
  n_ij = -0.5 * np.sum(np.log(2.0 * np.pi * self.var_[i, :]))
C:\anaconda3\Lib\site-packages\sklearn\naive_bayes.py:511: RuntimeWarning: invalid value encountered in divide
  n_ij -= 0.5 * np.sum(((X - self.theta_[i, :]) ** 2) / (self.var_[i, :]), 1)

### SVM

In [42]:
from sklearn.svm import SVC

svmrbf = SVC(kernel='rbf')
svmrbf.fit(X_train, y_train)
y_pred = svmrbf.predict(X_test)
print(accuracy_score(y_test, y_pred))

1.0

In [43]:
from sklearn.ensemble import RandomForestClassifier

rf_classifier = RandomForestClassifier(class_weight='balanced')
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)
print(accuracy_score(y_test, y_pred))

1.0

### Decision Tree Classifier

In [44]:
from sklearn.tree import DecisionTreeClassifier

dt_classifier = DecisionTreeClassifier(max_depth=10, class_weight='balanced')
dt_classifier.fit(X_train, y_train)
y_pred = dt_classifier.predict(X_test)
print(accuracy_score(y_test, y_pred))

1.0

### Random Forest Classifier

In [45]:
from sklearn.ensemble import RandomForestClassifier

rf_classifier = RandomForestClassifier(class_weight='balanced')
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)
print(accuracy_score(y_test, y_pred))

1.0