## Data Preprocessing

### Separate the input and output columns

In [2]:
import pandas as pd

data = pd.read_csv("TriptiRecall.csv")
data.head()

,TimeStamp,Delta_TP9,Delta_AF7,Delta_AF8,Delta_TP10,Theta_TP9,Theta_AF7,Theta_AF8,Theta_TP10,Alpha_TP9,...,Gyro_X,Gyro_Y,Gyro_Z,HeadBandOn,HSI_TP9,HSI_AF7,HSI_AF8,HSI_TP10,Battery,Elements
0,2023-11-21 20:41:53.359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/muse/event/connected Muse-C3B9
1,2023-11-21 20:41:53.394,0.0,0.069947,0.0,0.582074,0.0,-0.029969,0.0,0.008315,0.0,...,3.192596,-5.667419,-3.865509,1.0,4.0,1.0,1.0,2.0,65.0,NaN
2,2023-11-21 20:41:53.394,0.0,0.069947,0.0,0.582074,0.0,-0.029969,0.0,0.008315,0.0,...,3.192596,-5.667419,-3.865509,1.0,4.0,1.0,1.0,2.0,65.0,NaN
3,2023-11-21 20:41:53.394,0.0,0.069947,0.0,0.582074,0.0,-0.029969,0.0,0.008315,0.0,...,3.192596,-5.667419,-3.865509,1.0,4.0,1.0,1.0,2.0,65.0,NaN
4,2023-11-21 20:41:53.395,0.0,0.069947,0.0,0.582074,0.0,-0.029969,0.0,0.008315,0.0,...,3.192596,-5.667419,-3.865509,1.0,4.0,1.0,1.0,2.0,65.0,NaN

In [4]:
selected_columns = [
    'Delta_TP9', 'Delta_AF7', 'Delta_AF8', 'Delta_TP10',
    'Theta_TP9', 'Theta_AF7', 'Theta_AF8', 'Theta_TP10',
    'Alpha_TP9', 'Alpha_AF7', 'Alpha_AF8', 'Alpha_TP10',
    'Beta_TP9', 'Beta_AF7', 'Beta_AF8', 'Beta_TP10',
    'Gamma_TP9', 'Gamma_AF7', 'Gamma_AF8', 'Gamma_TP10'
]

X = data.loc[:, selected_columns]
X.head()

,Delta_TP9,Delta_AF7,Delta_AF8,Delta_TP10,Theta_TP9,Theta_AF7,Theta_AF8,Theta_TP10,Alpha_TP9,Alpha_AF7,Alpha_AF8,Alpha_TP10,Beta_TP9,Beta_AF7,Beta_AF8,Beta_TP10,Gamma_TP9,Gamma_AF7,Gamma_AF8,Gamma_TP10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.069947,0.0,0.582074,0.0,-0.029969,0.0,0.008315,0.0,0.250319,0.0,0.113339,0.0,0.377343,0.0,0.651351,0.0,0.118442,0.0,0.175156
2,0.0,0.069947,0.0,0.582074,0.0,-0.029969,0.0,0.008315,0.0,0.250319,0.0,0.113339,0.0,0.377343,0.0,0.651351,0.0,0.118442,0.0,0.175156
3,0.0,0.069947,0.0,0.582074,0.0,-0.029969,0.0,0.008315,0.0,0.250319,0.0,0.113339,0.0,0.377343,0.0,0.651351,0.0,0.118442,0.0,0.175156
4,0.0,0.069947,0.0,0.582074,0.0,-0.029969,0.0,0.008315,0.0,0.250319,0.0,0.113339,0.0,0.377343,0.0,0.651351,0.0,0.118442,0.0,0.175156

In [5]:
labels = [1, 0, 1, 0, 1]  # Replace this with actual y label data

y = pd.DataFrame({'Label': labels})
y.head()

   Label
0      1
1      0
2      1
3      0
4      1

### Removing rows with missing data

In [ ]:
X_cleaned = X.dropna()
X_cleaned.head()

### Splitting the train and test data

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### KNN

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print(accuracy_score(y_test, y_pred))

### Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

nb_clf = GaussianNB()
nb_clf.fit(X_train, y_train)
y_pred = nb_clf.predict(X_test)
print(accuracy_score(y_test, y_pred))

### SVM

In [ ]:
from sklearn.svm import SVC

svmrbf = SVC(kernel='rbf')
svmrbf.fit(X_train, y_train)
y_pred = svmrbf.predict(X_test)
print(accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf_classifier = RandomForestClassifier(class_weight='balanced')
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)
print(accuracy_score(y_test, y_pred))

### Decision Tree Classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dt_classifier = DecisionTreeClassifier(max_depth=10, class_weight='balanced')
dt_classifier.fit(X_train, y_train)
y_pred = dt_classifier.predict(X_test)
print(accuracy_score(y_test, y_pred))

### Random Forest Classifier

In [10]:
from sklearn.ensemble import RandomForestClassifier

rf_classifier = RandomForestClassifier(class_weight='balanced')
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)
print(accuracy_score(y_test, y_pred))

NameError: name 'X_train' is not defined